<h4 class="project_heading"><%= @issue.title %></h4>

<div class="btn_row">
  <%=link_to 'Cancel', project_path(@project), class: 'create_btn cancel_btn' %>
  <%=link_to 'Save', 'javascript:void(0);', class: 'create_issue create_btn', onclick: "$('.edit_issue').submit();" %>
  <%=link_to 'Delete issue', project_issue_path(@project, @issue), data: { "turbo-method": :delete }, class: 'create_btn' %>
</div>

<div class="box_wrapper">
  <div class="form_heighlight">
    <div class="issue">Issue number: <%=@issue.id%> </div>
    <div class="creation">Creation date: <%=@issue.created_at.strftime("%Y-%m-%d")%></div>
  </div>

  <%=render 'form' %>

  <div class="comment_box">
    <h6>Comments</h6>

    <div id="comments_list">
      <%= render partial: "comment", collection: @issue.comments %>
    </div>

    <div class="field_comment">
      <label>Now</label>
      <%= text_field_tag 'comment[description]', nil, placeholder: 'Write a new comment here and it will be saved' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#comment_description").on('focusout', function(){
    if ($(this).val() != ''){
      $.ajax({
        type: "POST",
        url: "<%=add_comment_project_issue_path(@project, @issue)%>",
        data: {'comment[description]': $(this).val()},
        dataType: "json",
        success: function(result){
          $("#comments_list").append("<div class='comment_row'><div class='time'>"+result.date+"</div><div class='text'>"+result.description+"</div></div>");
          $("#comment_description").val(null);
        }
      });
    }
  })
</script>
