
<h4 class="project_heading">Projects</h4>
<div class="btn_row">
  <%=link_to 'Create new project', new_project_path, class: 'create_btn' %>
</div>

<div class="box_wrapper issue_project_wrapper">
  <%if @projects.size > 0 %>
    <table class="projects_table">
      <thead>
        <th>Project Name</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td>
              <%=link_to project.name, project_path(project), class: 'project_name'%>
            </td>
            <td>
              <div class="drop_box">
                <%= link_to 'javascript:;', class: 'drop_btn' do %>
                  <%= image_tag 'dot.png', alt: 'dot', class: 'icon_dot' %>
                <% end %>
                <div class="dropdown">
                  <ul class="dropmenu">
                    <li><%=link_to 'Edit', edit_project_path(project) %></li>
                    <li><%=link_to 'Delete', project_path(project), data: { "turbo-method": :delete } %></li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        <% end %> 
      </tbody>
    </table>
  <% else %>
    No project added
  <% end %>
</div>

<script type="text/javascript">
  $('.icon_dot').click(function() {
    // $('.dropdown').hide();
    $(this).closest('tr').find('.dropdown').toggle();
  });
</script>
